<div id="entry">
  <div class="date"><%= entry.date %></div>
  <h2><b><%= link_to entry.title, entry %></b></h2>
  
  <%= entry.body.html_safe %>      
  <br /><br />
  
  <% if entry.tags.count > 0 %>
    <b>Tags:</b>
    <% entry.tags.each do |tag| %>
      <%= link_to tag.body, tag %>      
    <% end %>
  <% end %>  

  <% if @show_comments %>
    <div class="comment_link">
      <% if entry.comments.count > 0 %>
        <%= link_to "Comments: #{entry.comments.count}", entry %>           
      <% end %>
    </div>
  <% end %>
</div>
<br />