<!DOCTYPE html>
<html>
<head>
  <title>Yekaterina Zhmud</title>  
  <link href="http://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet" type="text/css">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="main">
	  <div id="banner">          
      <font><%= @page_title || "My shiny blog" %></font>
    </div>
  
    <div id="columns">
      <div id="links">
      	<table align=left>
      		<tr>
      			<td width=7%>
      				<a href="/entries">Home</a>
      			</td>
      			<td width=7%>
      			  <a href="http://www..../faq">Questions</a>
      			</td>
      			<td width=7%>
      			  <a href="http://www..../news">News</a>
      			</td>
      			<td width=7%>
      			  <a href="http://www..../contact">Contact</a>
      			</td>
      			<td width=72%>      			  
      			</td>
      		</tr>
      	</table>
      </div><br />
      <div id="content">
        <%= yield %>
      </div>    
    </div>
    <div id="ft">
      <small>Yekaterina Zhmud, 2013</small>
    </div>
  </div>
</body>
</html>
